@charset "utf-8";

/* 基本のスタイル */
body {
    font-size: 16px;
    line-height: 1.75; /* 二分四分アキ */

    margin: 0;
}
a {
    text-decoration: none; /* アンダーラインを消す */
    color: inherit; /* 文字色を親から継承 */
}
h1, h2, h3 {
    line-height: 1.25; /* 見出しはアキを詰める */
}
q::before {
    content: "“";
}
q::after {
    content: "”";
}



/* ヘッダー
/* .title を含むエリア */
.header {
    position: relative; /* 子要素の基準位置に指定 */
    height: 200px; /* 高さ */

    background-color: hsl(208, 13%, 28%);
    color: white;
}

/* サイトのタイトル */
.title {
    position: absolute; /* 絶対指定 */
    left: 36px;         /* 左端からの位置 */
    bottom: 32px;       /* 下端からの位置 */

    font-size: 2em;
    font-family: Rockwell, "Courier New", monospace;
    font-weight: bold;
}
.title .bracket {
    vertical-align: .1em; /* ちょっと上にずらす */
    font-weight: normal;
}



/* 中央パート
/* .main と .sidebar を含むエリア */
.middle {
    display: flex; /* カラムレイアウト（段組み） */
}

/* メインコンテンツ */
.main {
    max-width: 40em; /* 最大幅 */
    padding: 32px 36px; /* 余白: 縦 横 */
}
.main a {
    color: hotpink; /* リンクカラー */
}



/* サイドバー */
.sidebar {
    min-width: 240px;
    background-color: hsl(207, 25%, 85%);
    border-right: 32px solid rgba(255, 255, 255, .5); /* 右ボーダー */
}

/* メニュー */
.menu {
    list-style: none; /* リストの点（バレット）を消す */

    margin: 0;  /* 隙間なし */
    padding: 0; /* 余白なし */

    text-transform: uppercase; /* 全部大文字 */
    font-family: Rockwell, "Courier New", monospace;
    letter-spacing: .1em;

    color: hsl(208, 13%, 28%);
}
.menu li a {
    display: block;
    padding: 1em 2em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    opacity: .5; /* 半透明 */
    transition: all .5s; /* ゆっくり変化 */
}
.menu li a:hover { /* マウスホバー時 */
    opacity: 1; /* 不透明化 */
    background-color: rgba(255, 255, 255, .5);
}



/* フッター */
.footer {
    position: relative;
    height: 200px;
    padding: 32px 36px;

    background-color: hsl(208, 13%, 28%);
    color: white;
}
/* コピーライト表記 */
.copyright {
    position: absolute;
    right: 36px;
    bottom: 32px;
    margin: 0;
}
.copyright .product {
    font-family: Rockwell, "Courier New", monospace;
}
.copyright .copy {
    font-size: 1.5em;
    vertical-align: -.15em;
}



/* ヘッダー, 中央, フッターまとめて */
.header,
.middle,
.footer {
    min-width: 800px; /* 最小幅 */
}
