@charset "utf-8";

/* @theme custom */

/* marp base styles */
@import-theme "default";

@fs-s: 15pt;
@fs-m: 18pt;
@fs-l: 24pt;
@fs-xl: 27pt;
@fs-max: 48pt;

@c-black: #223;

:root {
  font-size: @fs-m;
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 1.75;
}
h1,h2,h3 {
  line-height: 1.25;
}
h2 {
  font-size: @fs-xl;
  color: var(--h1-color);
}
h3 {
  font-size: @fs-l;
}
small {
  font-size: @fs-s;
}
em {
  font-weight: bold;
  font-style: normal;
}
strong {
  background:linear-gradient(transparent 60%, #0f66 60%);
  
  code {
    color: #0f6;
  }
}
kbd {
  background-color: @c-black;
  color: white;
  font-size: @fs-m;
  line-height: 1;
  padding: .1em .3em;
  border: .1em solid lighten(@c-black, 50%);
  border-radius: .3em;
}

#cover {
  .logo {
    font-size: @fs-max;
  }
  .author {
    text-align: right;
    color: #0066;
    font-weight: bold;
    font-family: Optima;
  }
}

.logo {
  font-family: Futura, sans-serif;
  font-weight: normal !important;
  letter-spacing: .1em;
  padding: 0;

  &::before {
    content: "[";
    padding-right: .5em;
  }
  &::after {
    content: "]";
    padding-left: .5em;
    text-shadow:
      .6em 0 0 #80f8,
      1.2em 0 0 #f206,
      1.8em 0 0 #fb06;
  }
  &::before,
  &::after {
    font-family: Helvetica;
    font-size: .9em;
    font-weight: bold;
    vertical-align: .13em;
  }

  b {
    font-weight: bold;
    letter-spacing: .3em;
    text-shadow:
      0 -.3em 0 #60f4,
      0 -.75em 0 #0f66,
      0 -1.4em 0 #ff08;
  }
}

/* highlight.js theme */
@import (less) "vs2015.css";

:is(pre, marp-pre) {
  .hljs;
  border: none;
  line-height: 1.5;
}

code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  .hljs;
}
